*{
    box-sizing: border-box;
}

#container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#quote-box{
    width: 550px;
    padding: 2rem;
    border-radius: 3px;
    background-color: white;
}

#content{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    padding: .5rem 0;
}

#content #text{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}

#content #text i{
    margin-right: .3rem;
}

#content #author{
    align-self: flex-end;
}

#content #author::before{
    content: '- ';
}

#content p{
    margin: 0 0 1.2rem 0;

}

#footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 0;
}

#footer i{
    font-size: 2.2rem;
    margin: 0 .2rem;

}

#footer button{

    display: inline-block;
    text-decoration: none;
    padding: .5rem;
    line-height: 1rem;
    font-size: inherit;
    font-weight: inherit;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;

}